.intro {
  height: 85vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.intro-text-div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-title-div {
  margin-top: 80px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.intro-title-div img {
  height: 55px;
  margin-left: 7px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  margin-bottom: 10px;
}

.intro-text-div p {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.6;
  text-align: center;
}

.avatar {
  height: 165px;
  margin-top: 65px;
}

.computers {
  height: 150px;
  margin-bottom: -5px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    height: 85vh;
  }

  .intro-title-div {
    font-size: 1.5rem;
    margin-top: 50px;
  }
  .intro-title-div img {
    height: 70px;
  }

  .intro-text-div p {
    font-size: 20px;
  }

  .avatar {
    height: 220px;
  }

  .computers {
    height: 230px;
  }
}
