.socials-section {
  background-color: #7510f7;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-text-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  margin-top: 40px;
}

.socials-text-section h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.socials-text-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 20px;
}

.social-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.social-btn {
  background-color: #7510f7;
  border-radius: 50%;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.twitter {
  height: 25px;
}

.github {
  height: 35px;
}

.linkedin {
  height: 30px;
}

.whatsapp {
  height: 28px;
}

@media screen and (min-width: 1024px) {
  .socials-text-section h2 {
    font-size: 30px;
  }
  .socials-text-section p {
    font-size: 20px;
  }

  .social-buttons {
    width: 25%;
    cursor: pointer;
    margin-bottom: 100px;
  }

  .social-btn {
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .social-btn:hover {
    transform: scale(1.1);
  }

  .twitter {
    height: 30px;
  }

  .github {
    height: 40px;
  }

  .linkedin {
    height: 35px;
  }

  .whatsapp {
    height: 33px;
  }
}
