.need-section {
  background-color: #7510f7;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  overflow-y: visible;
  padding-bottom: 200px;
}

.need-div {
  background-color: #171c28;
  color: white;
  width: 330px;
  height: 330px;
  position: absolute;
  margin-top: 30px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.need-div h1 {
  font-size: 28px;
  margin-top: 10px;
}

.need-div p {
  width: 70%;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}

.need-div a {
  text-decoration: none;
  margin-bottom: 5px;
  padding: 0.6em 1.3em;
  font-size: 18px;
  background-color: #171c28;
  border: 2px solid #7510f7;
  color: #ffffff;
  border-radius: 50px;
}

.need-div a:active {
  background-color: #7510f7;
  border: 2px solid #7510f7;
}

@media screen and (min-width: 1024px) {
  .need-div {
    width: 70%;
    height: 300px;
  }

  .need-div h1 {
    font-size: 30px;
  }

  .need-div p {
    font-size: 22px;
  }

  .need-div a {
    font-size: 20px;
    cursor: pointer;
  }

  .need-div a:hover {
    background-color: #7510f7;
    border: 2px solid #7510f7;
  }
}
